In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2022-07-17 22:24:10,38.4210,-121.4238,108.32,21,0,8.05
1,1,Chaoyang,CN,2022-07-17 22:24:11,41.5703,120.4586,67.86,85,0,4.52
2,2,San Cristobal,VE,2022-07-17 22:24:11,7.7669,-72.2250,78.98,68,48,4.85
3,3,Bredasdorp,ZA,2022-07-17 22:24:11,-34.5322,20.0403,53.22,87,0,4.25
4,4,Richards Bay,ZA,2022-07-17 22:24:12,-28.7830,32.0377,65.19,87,0,9.82

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
#temps = []

#for temp in max_temp:
    #temps.append(max(temp, 0))
    
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0)for temp in max_temp], dissipating=False,max_intensity=300,point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,San Cristobal,VE,2022-07-17 22:24:11,7.7669,-72.2250,78.98,68,48,4.85
5,5,Nyaunglebin,MM,2022-07-17 22:24:13,17.9500,96.7333,76.30,95,86,2.37
10,10,Albany,US,2022-07-17 22:24:15,42.6001,-73.9662,88.63,50,99,1.01
15,15,Vaini,TO,2022-07-17 22:24:17,-21.2000,-175.2000,77.16,88,75,9.22
20,20,Touros,BR,2022-07-17 22:24:21,-5.1989,-35.4608,77.38,78,58,15.64
32,32,Atuona,PF,2022-07-17 22:20:16,-9.8000,-139.0333,77.97,78,11,19.82
42,42,Hambantota,LK,2022-07-17 22:25:32,6.1241,81.1185,79.92,79,100,15.90
43,43,Santa Isabel Do Rio Negro,BR,2022-07-17 22:25:32,-0.4139,-65.0192,82.35,73,51,2.89
45,45,Morant Bay,JM,2022-07-17 22:25:33,17.8815,-76.4093,89.22,73,62,14.16
50,50,Port-Gentil,GA,2022-07-17 22:25:35,-0.7193,8.7815,75.16,83,75,6.91

In [10]:
preferred_cities_df.count()

City_ID       206
City          206
Country       206
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
2               San Cristobal      VE     78.98   7.7669  -72.2250
5                 Nyaunglebin      MM     76.30  17.9500   96.7333
10                     Albany      US     88.63  42.6001  -73.9662
15                      Vaini      TO     77.16 -21.2000 -175.2000
20                     Touros      BR     77.38  -5.1989  -35.4608
32                     Atuona      PF     77.97  -9.8000 -139.0333
42                 Hambantota      LK     79.92   6.1241   81.1185
43  Santa Isabel Do Rio Negro      BR     82.35  -0.4139  -65.0192
45                 Morant Bay      JM     89.22  17.8815  -76.4093
50                Port-Gentil      GA     75.16  -0.7193    8.7815

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,San Cristobal,VE,78.98,7.7669,-72.2250,Pirineos
5,Nyaunglebin,MM,76.30,17.9500,96.7333,Thi ha
10,Albany,US,88.63,42.6001,-73.9662,
15,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
20,Touros,BR,77.38,-5.1989,-35.4608,INN NEW HORIZON
32,Atuona,PF,77.97,-9.8000,-139.0333,Villa Enata
42,Hambantota,LK,79.92,6.1241,81.1185,Bungalow 63
43,Santa Isabel Do Rio Negro,BR,82.35,-0.4139,-65.0192,Hotel GSA
45,Morant Bay,JM,89.22,17.8815,-76.4093,Whispering Bamboo Cove Resort
50,Port-Gentil,GA,75.16,-0.7193,8.7815,Fengshui Residence

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))