## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the Weather_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,73.26,77,0,5.70,light rain
1,1,Alofi,NU,-19.0595,-169.9187,76.89,69,1,13.80,clear sky
2,2,Yellowknife,CA,62.4560,-114.3525,66.72,42,20,10.36,few clouds
3,3,Boundiali,CI,9.5217,-6.4869,68.68,96,100,6.38,overcast clouds
4,4,Challapata,BO,-18.9000,-66.7667,45.10,31,9,5.03,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Alofi,NU,-19.0595,-169.9187,76.89,69,1,13.80,clear sky
6,6,Vaini,TO,-21.2000,-175.2000,77.16,83,20,8.05,few clouds
7,7,Kawalu,ID,-7.3817,108.2082,77.95,75,94,4.76,overcast clouds
8,8,Bengkulu,ID,-3.8004,102.2655,83.68,68,24,3.98,few clouds
12,12,Banda Aceh,ID,5.5577,95.3222,87.35,58,85,12.30,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
print(preferred_cities_df.isnull().sum())

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

#newpreferred_cities_df=preferred_cities_df.dropna()
#newpreferred_cities_df.head()

In [7]:
preferred_cities_df.count()

City_ID                250
City                   250
Country                250
Lat                    250
Lng                    250
Max Temp               250
Humidity               250
Cloudiness             250
Wind Speed             250
Current Description    250
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Alofi,NU,76.89,clear sky,-19.0595,-169.9187,
6,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
7,Kawalu,ID,77.95,overcast clouds,-7.3817,108.2082,
8,Bengkulu,ID,83.68,few clouds,-3.8004,102.2655,
12,Banda Aceh,ID,87.35,overcast clouds,5.5577,95.3222,
16,Mogadishu,SO,75.56,broken clouds,2.0371,45.3438,
24,Coahuayana,MX,79.75,few clouds,18.7333,-103.6833,
26,Gannan,CN,88.59,few clouds,47.9147,123.5031,
31,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,
32,Dongsheng,CN,81.61,clear sky,39.8161,109.9776,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Alofi,NU,76.89,clear sky,-19.0595,-169.9187,Taloa Heights
6,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
7,Kawalu,ID,77.95,overcast clouds,-7.3817,108.2082,West Jontor
8,Bengkulu,ID,83.68,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
12,Banda Aceh,ID,87.35,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
16,Mogadishu,SO,75.56,broken clouds,2.0371,45.3438,Hotel Juba
24,Coahuayana,MX,79.75,few clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
26,Gannan,CN,88.59,few clouds,47.9147,123.5031,Gannan Supply and Marketing Cooperatives Hostel
31,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
32,Dongsheng,CN,81.61,clear sky,39.8161,109.9776,Crowne Plaza Ordos

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Alofi,NU,76.89,clear sky,-19.0595,-169.9187,Taloa Heights
6,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
7,Kawalu,ID,77.95,overcast clouds,-7.3817,108.2082,West Jontor
8,Bengkulu,ID,83.68,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
12,Banda Aceh,ID,87.35,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=clean_hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))